<h1>{{$ctrl.info}}</h1>

<tabs>
    <tab title="Overview">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur consequatur dicta dolores incidunt inventore molestias, necessitatibus officiis, sit, velit voluptate voluptatem. Consequatur facere harum hic quod, ratione suscipit voluptate?
    </tab>
    <tab title="Details">
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis corporis cupiditate error et illum
            nesciunt non nulla qui! Ad asperiores autem fugiat ipsum maiores mollitia sequi veniam vitae? Id, molestias.
        </div>
        <div>Architecto commodi debitis, enim esse natus nemo perferendis voluptatibus. Ducimus facilis id, in ipsum
            iure libero maiores minus quas reiciendis, similique sit totam velit, voluptatum. Beatae eos in quasi
            voluptate?
        </div>
        <div>Dolorum pariatur quo soluta unde? Ad aspernatur eius fugit maxime modi, ut! Consectetur, corporis delectus
            dolore eos fugiat id ipsa ipsum odio pariatur porro quae quidem sint veritatis. Maiores, voluptate.
        </div>
    </tab>
</tabs>